# Frontend
node_modules
dist
.DS_Store
*.log
.env
.env.local
.vscode

# Backend (CodeIgniter)
api/vendor/
api/writable/cache/*
api/writable/logs/*
api/writable/session/*
api/writable/uploads/*
!api/writable/cache/index.html
!api/writable/logs/index.html
!api/writable/session/index.html
!api/writable/uploads/index.html
api/.env
api/phpunit*.xml
api/.phpunit.*.cache
