@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bgAmigo {
  background-image: url('/bgPasto.jpg');
  background-size: cover;
  background-position: center;
  }


  .tandil {
    font-size: 24px;
  }


.borderLeftGreen{
  border-left: 6px solid #2a9652 !important;
}

.borderPlanActual {
  border: 1px solid #2a9652;
  background: linear-gradient(180deg, rgb(255 255 255) 0%, rgb(205 255 192) 100%);
}

.pendienteDePago {
  border: 1px solid #fdc788;
}

.verdeDegrade {
  background: #5dc068;
    background: linear-gradient(90deg, rgb(32 192 91) 0%, rgb(18 125 57) 100%);
}

  .subheading {
    font-size: 25px;
    display: block;
    width: 94%;
    line-height: normal;
    margin: 24px 0 0;
  }
  .logo {
    width: 150px;
  }
}

.reportes-vista-tabla-card div { padding: 0  !important;border:1px solid #fff}

/* Custom styles */
body {
  @apply bg-gray-50;
}

/* Smooth transitions */
* {
  @apply transition-colors duration-200;
}
